{% extends "personal/header.html" %}

{% block content %}
<form action="/gamedb=form/" method="post">

<div>
	<select class="mdb-select md-form colorful-select dropdown-primary" multiple searchable="Search here..">
		<option value="" disabled selected>Choose your country</option>
		<option value="1">USA</option>
		<option value="2">Germany</option>
		<option value="3">France</option>
		<option value="4">Poland</option>
		<option value="5">Japan</option>
		<option value="6">6Japan</option>
	</select>
</div>
<br>
<div class="form-group row">
	<div class="col-sm-10">
		<button type="submit" class="btn btn-primary">Αποθήκευση</button>
	</div>
</div>


	
  </div>
 	<script>

	</script>
</form>

{% endblock %}