{% extends "personal/header.html" %}
<style type="text/css">

</style>

{% block content %}
<div class="jumbotron">
	<h1 class="display-4" id="number">1<sup>ος</sup> γύρος</h1>
	<p class="lead" id="instructions">Όλες οι ομάδες επιστρέφουν από δύο άδειες μπουκάλες Ecopozone και ενημερώνουν τον εκπαιδευτή για την ποσότητα που έχουν αποφασίσει με την ομάδα τους, πως θα εξορύξουν από το απόθεμα!</p>
	<p class="lead" id="playerSequence">Η σειρά, με την οποία οι ομάδες θα ανεφοδιαστούν, είναι η εξής: </p>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<form>
				<div class="form-group">
					<label for="formGroupExampleInput" id="myLabel" name="label1">Ποσότητα για την </label>
					<input type="number" min="0" class="form-control" id="formGroupExampleInput" placeholder="Εισάγετε ποσότητα">
				</div>
			</form>
		</div>
		<div class="col-sm-4">
			<form>
				<div class="form-group">
					<label for="formGroupExampleInput" id="myLabel" name="label2">Ποσότητα για την </label>
					<input type="number" min="0" class="form-control" id="formGroupExampleInput" placeholder="Εισάγετε ποσότητα">
				</div>
			</form>
		</div>
		<div class="col-sm-4">
			<form>
				<div class="form-group">
					<label for="formGroupExampleInput" id="myLabel" name="label3">Ποσότητα για την </label>
					<input type="number" min="0" class="form-control" id="formGroupExampleInput" placeholder="Εισάγετε ποσότητα">
				</div>
			</form>
		</div>
	</div>
	<br>
	<a class="btn btn-primary btn-block" href="#" role="button" id="nextroundbtn">Επόμενος γύρος</a>
</div>

<script>
	var current = 0;
	var teams = new Array(3);
	var count;
	var roundText = "<sup>ος</sup> γύρος";
	teams[0] = "Κόκκινη";
	teams[1] = "Κίτρινη";
	teams[2] = "Μπλε";
	document.getElementById("nextroundbtn").onclick = function() {
			count = parseInt(document.getElementById("number").innerHTML) + 1;
			if (count >= 11){
				window.location = "/gameover";}
			else{
				document.getElementById("number").innerHTML = count + roundText;
				html(parseInt(document.getElementById("number").html(), 10)+1);
				if (!(current > teams.length - 1))
				{
					document.getElementById("myLabel").innerHTML += teams[current] + " ομάδα";
					current++
				}
				if (current >= teams.length){
				current = 0;}
			}
}
</script>
{% endblock %}