{% block content %}
{% load staticfiles %}

<div class="jumbotron" id="mainDiv">
	<h1 class="display-4">Το παιχνίδι ξεκινάει! 
	<img src="{% static 'personal/img/icon2.png' %}" width="50" height="50" id="spaceship" class="d-inline-block align-bottom" alt=""></h1>
	<p class="lead">Όλες οι ομάδες και οι παίχτες τους, πρέπει να πάρουν τις θέσεις στους στα τραπέζια και να έχουν μπροστά τους τα διαστημόπλοια! Μην ξεχνάτε πως και στον 1<sup>ο</sup> γύρο, όλες οι ομάδες πρέπει να επιστρέψουν άδειες μπουκάλες!</p>
	<hr class="my-4">
	<p>Ακολουθήστε τα βήματα όπως θα εμφανιστούν στην οθόνη και το μόνο που πρέπει να κάνετε, είναι να κρατάτε το χρόνο!<br>
	Είμαστε έτομοι λοιπόν;</p>
	<p class="lead">
	<a class="btn btn-primary btn-md" href="/game" role="button">Φύγαμε!</a>
	</p>
</div>
{% endblock %}